/* HEADER */

body {
    background-color: black;
}
.image {
  width: 100%;
  height: 700px;
}


/* Barre des cookie */

.grid {
display: grid;
grid-template-columns: 90% 10%;
 background-color: #FFDE59;
 height: 50px;
}

 .cookies {
   
    color: black;
    font-size: 20px;
}

.button {
    background-color:#353535 ;
    color: white;
    height: 20px;
    justify-content: right;
    padding: 15px;
    margin-top: 10px;
}

/* 3 BLOCS IMAGES */

.gridContainer {
    display: grid;
    grid-template-columns: 33% 33% 34%;
    grid-gap: 3px;
    height: 200px;
    width: 100%;
   
    

}



article {
    display: flex;
    justify-content: space-around;
}

img {
    width: auto;
    height: 200px;
    margin-top: 25px;
    
    

}

/*TEXTE des images*/

.title {
    position: absolute;
    font-weight: bold;
    z-index: 1;
    color: honeydew;
    height: 100%;
    width: 100%;
    
}
 .locationImage {
    
        position: relative;
        overflow: hidden;
      }
 


/* Défilement photos */

.slider {
    width: calc(500px 10) ;
    overflow: hidden;
    margin: 150px auto;
    height: 300px;
    
}

.slides {
    width: auto;
    animation: glisse 60s infinite;

}

.imgSlides {
    width: 100%;
    
}
    

.slide {
    float: left; }




    @keyframes glisse {
        0% {
            transform: translateX(0);
        }
        10% {
            transform: translateX(500px);
        }
        20%{
            transform: translateX(1000px);
        }
        30%{
            transform: translateX(1500px);
        }
        40% {
            transform: translateX(2000px);
        }
        50% {
            transform: translateX(2500px);
        }
        60% {
            transform: translateX(3000px);
        }
        70% {
            transform: translateX(3500px)
        }
        80% {
            transform: translateX(4000px);
        }
 }

 /* FOOTER */

 .footer {
     display: grid;
     grid-template-columns: auto auto auto auto;
     grid-template-areas: "logo" "contact" "mentions" "newsletter" ;
     border: honeydew 1px solid;
     height: 300px;
     background-color:#353535 ;
    
     
     
 }

 .logo {
     grid-area: "logo";
     display: grid;
     align-items: center;
     justify-content: center;
     grid-template-rows: auto;
     padding-bottom: 70px;
     padding-left: 20px;
     }

.contact {
    grid-area: "contact";
    display: grid;
    color: honeydew;
    text-align: center;
    grid-template-rows: auto auto auto;
    padding: 50px;
    
    
}

.mentions {
    grid-area: "mentions";
    display: grid;
    color: honeydew;
    text-align: center;
    grid-template-rows: 40px 20px 20px 20px;
    padding: 100px;
    
}

.newsletter {
    grid-area: "newsletter";
    display: grid;
    color: honeydew;
    text-align: center;
    grid-template-rows: 40px 20px 20px;
    padding: 100px;
}

.yellowText {
    color:#FFDE59 ;
    font-weight: bold;
}

.yellowFont {
    background-color: #FFDE59;
}

.form {
    text-align: center;
    justify-content: center;
}

/* LOGO RS*/

.rs img {
    
    width:  30px;
    height: 30px;
   
}

/* MEDIA QUERIES */

@media screen and (max-width:680px)
{
    a, .form{
        display: flex;

    }

    nav {
        display: block;
       
    }


}

@media screen and (max-width:900px) {
    .gridContainer {
        flex-direction: column;
    }
}







