
/* MENU*/


/*PRESENTATION*/
.titre {
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

.presentation {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align : center;
    color: white;

}

/* MEDIA QUERIES */

@media screen and (max-width:680px)
{
    a, .form{
        display: none;

    }

    .nav {
        display: block;
    }
}